
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 1400,
  'GRAD' 0,
  'opsz' 24,
}

.addBtn{
    padding: 0px 10px 0px 10px;
    border: none;
   background-color: transparent;
    color: white;
}



.sidebarContainer{
    display: flex;
    flex-direction: column;   
}

.header{
    padding: 0 2vw 0 2vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .header p{
    font-weight: 800;
    font-size: xx-large;
    font: 800;
    color: white;
 }
 .sidebarContainer hr{
   margin-bottom: 20px;
 }
 
 .sideBarMainContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 5px 0 5px;
    
 }

 .sideBarMainContent span{
    display: flex;
    justify-content: space-between;
    color: white;
 }

 .SideBarLink {    
   color: white;
 }

 .sideBarNote{
    padding: 0 2vw 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .sideBarNoteBtns{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
 }

 .sideBarNoteBtns button{
   border: none;
   background-color: transparent;

 }

 @media (min-width: 481px) and (max-width: 768px){
 .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
 }
 .sideBarMainContent{
   width: 80vw;
  display: flex;
  align-items: center;
  gap: 2vw;
 }

 .sideBarNote{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 }

 @media (max-width: 480px){
  .sidebarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebarContainer hr{
   margin-bottom: 5px;
   width: 100%;
 }
  .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vw 10vw 5vw 10vw; 
  gap: 25vw;
 }
 .sideBarMainContent{
   width: 80vw;
  display: flex;
  align-items: center;
  gap: 2vw;
 }

 .sideBarNote{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 }